.App {
  background: rgb(219, 219, 219);
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  ;
}

.navbar {
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.todo-list ul {
  padding: 0 10px 10px 10px;
  list-style-type: none;
}

.todo-list li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
}

.todo-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}
p,
form {
  margin: 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  margin: 6px 0;
  border: 0;
}

input[type="submit"] {
  margin: 10px auto;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}


input[type="submit"]:hover {
  opacity: 0.7;
}

.toggle-btn {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

.toggle-btn:hover {
  opacity: 0.7;
}

.log-btn {
  text-align: center;
  padding: 10px;
  border: 1 solid;
  border-radius: 4px;
}
